<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Project name{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url 'article-list' %}">Articles</a></li>
            </ul>
            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account_logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Sign In</a></li>
                {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% include "messages.html" %}
        {% block content %}{% endblock %}
      <hr/>
      <div class="footer">
        <p>&copy; Company {% now "Y" %}</p>
      </div>
    </div> <!-- /container -->    
  </body>
</html>