{% extends "base.html" %}

{% block content %}
    <h1>{{ article.title }}</h1>
    {{ article.text|linebreaks }}
    {% if request.user.is_authenticated and article.user == request.user %}
        <a href="edit/" class="btn">Edit</a> 
        <a href="delete/" class="btn">Delete</a>
    {% endif %}
{% endblock %}